.navbar {
    font-family:'Dancing Script';
    font-size: 30px;
    height: 40px;
}

body {
    text-align: center;
    font-family:'Open Sans';
}

.eventsTable {
    display: flex;
}

.events {
    display: flex;
    flex: 1;
}

.status {
    display: flex;
    flex: 1;
}

.title {
    background-color: #c6e2ff;
    justify-content: center;
    display: flex;
    flex: 1;
    padding: 10px;
}